/* Tags */

/* IDs */
#board {
	border: 1px solid #000;
	margin: 0 auto;
	white-space: pre-line; /* Gets rid of spacing between rows */
	width: 402px; /* Extra 2px because of 1px border */
}

#announcement {
	font-size: 32pt;
	text-transform: uppercase;
}

/* Classes */

.square {
	border: 1px solid #000;
	color: #000;
	display: inline-block;
	font-size: 14pt;
	height: 50px;
	line-height: 50px;
	margin: 0;
	width: 50px;
}

.square:hover {
	border-color: #0000FF;
	box-shadow: 0 0 15px #000;
}

.clicked,
.clicked:hover {
	background: #000;
	border-color: #FFF;
	box-shadow: none;
	color: #FFF;
}

.mine,
.mine:hover {
	background: #FF0000;
	box-shadow: none;
}

.flag {
	background: #0000FF;
}

.alert-box {
	margin: 0 auto;
	width: 400px;
}

.row {
	margin-bottom: 15px;
}

.center {
	text-align: center;
}
